extends layout

block content
  center 
    h3 
      a(href="/") VirtualMixProject
    hr
    h4 ERROR!
    h2 failed to find file
    img(src="/gif/pulp-fiction-john-travolta.gif")

    //h4 ERROR!
    
    //h1= message
    //h2= error.status
    //pre #{error.stack}
  


  include partials/analytics
